# Игнорировать виртуальное окружение
venv/
__pycache__/

# Игнорировать настройки и ключи
.env

# Игнорировать временные файлы и базы
*.db
*.sqlite
*.sqlite3

# Игнорировать системные файлы
.DS_Store
*.pyc
