# Игнорировать виртуальное окружение
venv/
__pycache__/

# Игнорировать настройки и ключи
.env

# Игнорировать временные файлы и базы
# Игнорируем файлы баз данных SQLite, которые могут быть созданы при тестировании проекта. Эти файлы не нужно хранить в репозитории, так как их можно воссоздать.
*.db
*.db
*.sqlite
*.sqlite3

# Игнорировать системные файлы
# Файлы с расширением .pyc создаются Python автоматически для ускорения выполнения. Их не нужно хранить в репозитории, так как они могут быть воссозданы.
*.pyc
